body { 
  font: .875em/1.618 Helvetica, Sans-serif; 
}
#regionNavigation {
  background-color: #2800AD;
  max-width: 900px;
}
#regionNavigation ul {
  margin: 0;
  padding: 0; 
}
#regionNavigation li {
  border-right: 1px solid #ddd;
  display: line-block;
  float: left;
  margin: 0;
}
#regionNavigation li:last-child {
  border-right-width: 0;
}
#regionNavigation a {
  background-color: #eee;
  color: #2800AD;
  display: block;
  padding: .75em 1.5em;
  text-decoration: none;
  transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
}
#regionNavigation a:hover {
  background-color: #ddd;
}

#regionLegend {
    background-color: #fff;
}
#regionLegend th{
  text-align: center;
}
#regionLegend td{
  text-align: center;
}
.clearfix {
  *zoom: 1;
}
.clearfix:after, 
.clearfix:before {
  content: '';
  display: table;
}
.clearfix:after {
  clear: both;
}